.carousel-container {
  width: 100%;
  overflow: hidden;
  background: #000;
  padding: 20px 0;
}

.carousel-track {
  display: flex;
  gap: 60px;
  animation: slide 12s linear infinite;
}

.carousel-track img {
  width: 30px;
  height: auto;
  object-fit: contain;
}

/* Animation */
@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(50%);
  }
}
