body {
  margin: 0;
  padding: 0;
  font-family: IBM Plex Mono, serif;
}

.nav-body {
  background-color: #080808;
}

.nav-btn {
  border: 1px;
  border-radius: 10px;
  background-color: #1b1b1b;
  margin: 0 70px;
  height: 70px;
  width: 1110px;
}

.nav-container {
  display: flex;
  padding: 10px 100px;
  gap: 50px;
}

.nav-link a {
  font-family: IBM Plex Mono, serif;
  text-decoration: none;
  font-size: 14px;
  padding: 0px 30px;
  font-weight: 400;
  font-style: normal;
  color: #9c9c9c;
}

.logo {
  padding: 0px 10px;
}

.profile-container-body {
  background-color: #080808;
}

.profile-container {
  padding: 20px 200px;
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  color: #fff;
}

.profile {
  margin: 20px 30px 0 0;
}

.profile h1 {
  font-family: raleway, serif;
  font-size: 44px;
  font-weight: 800px;
}

.profile-para {
  color: #9c9c9c;
  font-size: 14px;
  font-weight: 400px;
}

.profile-img img {
  margin-left: 50px;
  border-radius: 50%;
  height: 340px;
}

.profile-start-btn {
  font-family: IBM Plex Mono, serif;
  color: #fff;
  font-size: 16px;
  font-weight: 700px;
  background-color: #3f8e00;
  border: 1px;
  padding: 21px 64px;
  margin-top: 20px;
  border-radius: 8px;
}

.profile-start-btn:hover {
  background: #27ae60;
  transform: scale(1.05);
}

.vector-icon {
  margin-left: 10px;
}

.work-with-text {
  color: #fff;
  font-size: 14px;
  margin-left: 200px;
}

.work-with-logo-container {
  margin-left: 140px;
}

.work-with-logo {
  margin-left: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* ...........CASE STUDIES.......... */

.case-studies-container {
  text-align: center;
}

.case-studies-container h1 {
  font-size: 34px;
  font-weight: 700px;
}

.case-studies-para {
  font-size: 14px;
  font-weight: 400px;
  color: #9c9c9c;
  margin: 0 370px 50px 370px;
}

.fintech-container {
  display: flex;
  margin: 0 160px;
}

.fintech-section {
  padding-right: 20px;
}

.fintech-btn {
  font-family: IBM Plex Mono, serif;
  font-size: 12px;
  font-weight: 700px;
  color: #ffa217;
  background-color: #fff6e9;
  border-radius: 10px;
  border: none;
}

.work-name {
  font-family: raleway, serif;
  font-size: 24px;
  font-weight: 800px;
  color: #080808;
}

.work-name-para {
  font-size: 14px;
  font-weight: 400px;
}

.case-study-btn-one {
  background-color: rgb(255, 160, 26);
  color: #fff6e9;
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 5px;
  border: none;
}

.edTech-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 70px 160px;
}

.edTech-container img {
  width: 500px;
}

.edtech-section {
  padding-left: 40px;
  margin-top: 40px;
}

.edtech-btn {
  font-family: IBM Plex Mono, serif;
  font-size: 12px;
  font-weight: 700px;
  color: #000aff;
  background-color: #d0e6ff;
  border-radius: 10px;
  border: none;
}

.case-study-btn-two {
  background-color: #000aff;
  color: #fff6e9;
  padding: 12px 20px;
  margin-top: 20px;
  border-radius: 5px;
  border: none;
}

.pharma-container {
  display: flex;
  margin: 50px 160px;
}

.pharma-btn {
  font-family: IBM Plex Mono, serif;
  font-size: 12px;
  font-weight: 700px;
  color: #2ab090;
  background-color: #e0fff8;
  border-radius: 10px;
  border: none;
}

.pharma-section {
  padding-right: 40px;
  margin-top: 40px;
}

.case-study-btn-three {
  background-color: #2ab090;
  color: #fff6e9;
  padding: 12px 20px;
  margin-top: 20px;
  border-radius: 5px;
  border: none;
}

/* ...............Testimonials............. */
.testimonials-container {
  text-align: center;
  background-color: #080808;
}

.testimonials-container h1 {
  font-family: raleway, serif;
  font-size: 34px;
  font-weight: 800px;
  color: #fff;
}

.testimonials-para {
  font-size: 14px;
  font-weight: 400px;
  margin: 0 350px;
  color: #9c9c9c;
}

.client-section1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 60px;
  background-color: #080808;
}

.client1-container {
  background-image: url(images/Rectangle.png);
  margin: 0 100px;
}

/* .quote-icon {
  font-size: 36px;
  color: #fff;
} */

.client1-para {
  font-size: 14px;
  font-weight: 400px;
  margin: 20px;
  color: #9c9c9c;
}

.client1-Img-section {
  display: flex;
  margin: 0 20px;
}

.client1-Img-section h2 {
  font-size: 18px;
  font-weight: 700px;
  color: #fff;
  padding-left: 20px;
}

.client1-Img-section img {
  border-radius: 50%;
}

.client2-container {
  background-image: url(images/Rectangle.png);
  margin: 0 100px;
}

.client2-para {
  font-size: 14px;
  font-weight: 400px;
  margin: 20px;
  color: #9c9c9c;
}

.client2-Img-section {
  display: flex;
  margin: 0 20px;
}

.client2-Img-section h2 {
  font-size: 18px;
  font-weight: 700px;
  color: #fff;
  padding-left: 20px;
}

.client2-Img-section img {
  border-radius: 50%;
}
.client-section2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 60px 60px 60px;
  background-color: #080808;
}

.client3-container {
  background-image: url(images/Rectangle.png);
  margin: 0 100px;
}

.client3-para {
  font-size: 14px;
  font-weight: 400px;
  margin: 20px;
  color: #9c9c9c;
}

.client3-Img-section {
  display: flex;
  margin: 0 20px;
}

.client3-Img-section h2 {
  font-size: 18px;
  font-weight: 700px;
  color: #fff;
  padding-left: 20px;
}

.client3-Img-section img {
  border-radius: 50%;
}

.client4-container {
  background-image: url(images/Rectangle.png);
  margin: 0 100px;
}

.client4-para {
  font-size: 14px;
  font-weight: 400px;
  margin: 20px;
  color: #9c9c9c;
}

.client4-Img-section {
  display: flex;
  margin: 0 20px;
}

.client4-Img-section h2 {
  font-size: 18px;
  font-weight: 700px;
  color: #fff;
  padding-left: 20px;
}

.client4-Img-section img {
  border-radius: 50%;
}

/* ...........Recent Work.......... */
.recent-work-container {
  text-align: center;
}

.recent-work-container h1 {
  font-size: 34px;
  font-weight: 700px;
}

.recent-work-para {
  font-size: 14px;
  font-weight: 400px;
  color: #9c9c9c;
  margin: 0 370px 50px 370px;
}

.recentworkImg-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.recentworkImg-container img {
  margin-left: 50px;
}

.recentWorkImg1 {
  padding-left: 100px;
}

.work-name-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.work-name-section1 {
  margin-left: 150px;
  margin-right: 20px;
}

.work-name-section2 {
  margin-left: 50px;
  margin-right: 120px;
}

.know-more-btn {
  background-color: #3f8e00;
  color: #fff6e9;
  padding: 12px 20px;
  margin-top: 20px;
  border-radius: 5px;
  border: none;
  font-size: 14px;
  font-weight: 700px;
}

/* ..........Get In Touch............ */
.getInTouch-container {
  background-color: #080808;
}

.form-container {
  padding-top: 40px;
  text-align: center;
}

.form-label {
  display: block;
  margin-bottom: 10px;
  color: #ffffff;
  font-size: 12px;
  padding-right: 310px;
}

.form-input {
  width: 26%;
  padding: 14px;
  border-radius: 6px;
  border: none;
  margin-bottom: 24px;
  font-size: 12px;
}

.form-textarea {
  width: 26%;
  padding: 14px;
  border-radius: 6px;
  border: none;
  height: 120px;
  font-size: 12px;
  margin-bottom: 20px;
}

.submit-btn {
  margin-left: 452px;
  background-color: #3f8e00;
  color: #fff;
  padding: 15px 148px;
  margin-bottom: 60px;
}

.footer-text {
  text-align: center;
  background-color: #1b1b1b;
  color: #9c9c9c;
  padding: 20px 0;
  font-size: 12px;
}
