body {
  margin: 0;
  padding: 0;
  background-color: #080808;
  font-family: IBM Plex Mono, serif;
}

.nav-btn {
  border: 1px;
  background-color: #1b1b1b;
  margin: 0 30px;
  height: 70px;
  width: 1110px;
}

.nav-container {
  display: flex;
  padding: 10px 100px;
  gap: 40px;
}

.nav-link a {
  font-family: IBM Plex Mono, serif;
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  padding: 0px 30px;
  font-weight: 400;
  font-style: normal;
  color: #9c9c9c;
}

.thumbnail {
  padding: 0px 10px;
}

.profile-container {
  padding: 20px 170px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: #fff;
}

.profile {
  margin: 80px 30px 0 0;
}

.profile h1 {
  font-family: raleway, serif;
  font-size: 44px;
  font-weight: 800px;
}

.profile-para {
  color: #9c9c9c;
  font-size: 14px;
  font-weight: 400px;
}

.profile-img img {
  margin-left: 50px;
  border-radius: 50%;
  height: 450px;
}

.profile-start-btn {
  font-family: IBM Plex Mono, serif;
  color: #fff;
  font-size: 16px;
  font-weight: 700px;
  background-color: #3f8e00;
  border: 1px;
  padding: 21px 64px;
  margin-top: 20px;
  cursor: pointer;
}

.profile-start-btn:hover {
  background: #27ae60;
}

.vector-icon {
  margin-left: 10px;
}

.work-with-text {
  color: #fff;
  font-size: 14px;
  margin-left: 170px;
}

.work-with-icon-container {
  margin-left: 100px;
}

.work-with-icon {
  margin-left: 100px;
  padding-top: 20px;
}
